body{
    background-color: #E6E6FA;
}
.c1{
    background-color: aliceblue;
    padding: 45px 10px;
    height: 300px;
    width: 300px;
}
.fa{
    color: rebeccapurple ;
}
a {
    border-bottom: 1px solid blue;
}
p{
    font-size: 12px ;
}
.box{
    padding: 30px 0px;
}